# build files
build
*.bin
*.elf
*.d 
*.o
*.lst

# STM32Cube related files
.mxproject
.cproject
.project
*.scratch
*.ftl
Middlewares/ST/threadx/ports/cortex_m7/iar

# VS Code files
.vscode/.cortex-debug.*