# build files
build
*.bin
*.elf
*.d 
*.o
*.lst
*.tmp

# STM32Cube related files
.mxproject
.cproject
.project
*.scratch
*.ftl
Middlewares/ST/threadx/ports/cortex_m7/iar

# unnecessary dependency files
Drivers/CMSIS/DSP/DSP_Lib_TestSuite

# VS Code files (with some exceptions)
.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
compile_commands.json