[submodule "src/SUFST/Middlewares/rtcan"]
	path = src/SUFST/Middlewares/rtcan
	url = https://github.com/sufst/rtcan
[submodule "src/SUFST/Middlewares/can-defs"]
	path = src/SUFST/Middlewares/can-defs
	url = https://github.com/sufst/can-defs
